.form-evento {
    background-color: #041c32;
    padding: 32px 28px;
    border-radius: 16px;
    width: 350px;
    max-width: 90%;
    margin: 64px auto;
}

.campos {
    display: flex;
    flex-direction: column;
    gap: 16px
}

.acoes {
    margin-top: 32px;
    text-align: center;
}

.grupo-input {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-bottom: 16px;
}

.grupo-input:last-child {
    margin-bottom: 0;
}

.erro-mensagem {
    color: #dc3545;
    font-size: 0.8rem;
    font-weight: 500;
    margin-top: -2px;
}